/* Override default style and set padding and margin to nothing */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* White text throughout */
body {
  font-family: "lato", sans-serif;
  color: white;
}

/* Make all link text black with no text decoration */

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
  color: black;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}

/* All images must not be larger than parent container */
img {
  width: 100%;
}

/* No styling on list items */
li {
  list-style-type: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

/* Centers it, sets a maximum width and makes sure elements can flow past it*/

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}


/* Navbar css */
/* Sets background color, height and padding*/


.navbar {
  background-color: purple;
  height: 70px;
  padding: 0 30px;
}

/* Sets font size, reduces font-weight, adds margin and line height */

.navbar h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover{
    color: #9867C5;
    border-bottom: 3px solid #9867C5;
}


/* Showcase css */
.showcase{
  height: 300px;
  background-color: purple;
}

/* Adds margin below the text */
.showcase p{
  margin-bottom: 30px;
}

/* Adds a shadow below the image */
.showcase img{
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
}

/* Adds some padding on the form content */

.showcase-form{
  padding-left: 7px;
  margin: auto;
}

.grid{
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;

}

.grid-item-1,
.grid-item-2{
  position: relative;
  top: 50px;
}

.showcase input[type='email']{
  padding: 10px 70px 10px 0px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
}

.btn{
  border-radius: 6px;
  padding: 12px 20px;
  background: #9867C5;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/* Change typeface and its size */
.little-info{
  font-size: 15px;
  font-family: "poppins", sans-serif;
}


/* Stats section css */
/* Centers the container, sets a maximum width*/

.lower-container{
  margin: 120px auto;
  padding: 0;
  max-width: 1400px;

}

/* Targets all h3 with class of title */

.title{
  color: black;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

/* Targets the paragraphs with class name of text */

.text{
  color: black;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin: 0, 20px;
  text-align: justify;
}

/* Display horizontally, put a little space around them */

.flex{
  display: flex;
  justify-content: space-around;
}

/* Add some padding around the container. Align text centrally */

.stats{
  padding: 45px 50px;
}

/* Set margin and width */

.stat{
  margin: 0 30px;
  text-align: center;
  width: 800px;
}

.stats .fa{
  color: purple;
}


/* Testimonial */

.testimonial{
  color: black;
  padding: 40px;
}

/* Wrap the image inside a cirle shape and set height to take up all of parent element */

.testimonial img{
  height: 100%;
  clip-path: circle();
}

/* Align text centrally */

.testimonial h3{
  text-align: center;
}

/* Create a grid of three equal columns. Set a gap of 40 px between them */

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


/* Create a white card with some shadow around it */

.card{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
              7px 7px 20px rgba(0, 0, 0, 0.2);
}

.circle {
  background-color: transparent;
  border:3px solid purple;
  height:90px;
  position: relative;
  top: -30px;
  left: 120px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:90px;
}


/* Footer css */
/* Add padding around the footer as well */

footer{
  background-color: purple;
  padding: 10px 20px;
}


/* Sets all link texts to white and puts margin to the left and right */

footer a{
  color: white;
  margin: 0 10px;
}

footer a:hover{
  color: #9867C5;
  border-bottom: 2px solid #9867C5;
}

/* Tablets and Under */

@media(max-width: 768px) {
  .grid,
  .grid-3{
    grid-template-columns: 1fr;
  }

  /* Align all text to the center. This will move all text, including form centrally */
  .showcase{
    height: auto;
    text-align: center;
  }

  /* This resets the width of the image container and adds margin space to the left */ 

  .image{
    width: 600px;
    margin-left: 80px;
  }

  /* Changes the service sections from side-by-side orientation to each taking its own line. Aligns text to the center */
  .stats .flex{
    flex-direction: column;
  }

  .stats{
    text-align: center;
  }

  /* Makes sure each stat section does not exceed the width of parent */
  .stat{
    width: 100%;
    padding-right: 80px;
  }

  /* (re)Moves the cirle to the center of the card */
  .circle {
    background-color: transparent;
    border:3px solid purple;
    height:90px;
    position: relative;
    top: -30px;
    left: 270px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:90px;
}

}

/* Mobile devices */

@media (max-width: 500px){
  .navbar{
    height:100px;
  }

  /* Changes the alignment. The logo title stays at the top, the nav links will be below it */
  .navbar .flex{
    flex-direction: column;
  }


/* When hovered on, retain white color and change border to black */

.navbar a:hover {
  color: white;
  border-bottom: 2px solid black;
}

/* Set light purple background on nav links, make it a bit round and add some spacing */

.navbar ul {
  background: #9867C5;
  border-radius: 5px;
  padding: 10px 0;
}


/* Align text to center */

.showcase {
  height: auto;
  text-align: center;
}

/* Reduce font size */

.little-info {
  font-size: 13px;
}

/* Reduce image width */

.image {
  width: 350px;
  margin-left: 70px;
}

.stat {
  margin-bottom: 40px;
}

/* Move circle once again */

.circle {
  background-color: transparent;
  border:3px solid purple;
  height:90px;
  position: relative;
  top: -30px;
  left: 150px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:90px;
}
}